body {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/background.jpeg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container {
    size: 100vw 100vh;
}

#gamerules {
    border: 1px solid black;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.5);
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    padding: 10px;
    width: 40vw;
    height: 40vh;
    opacity: 0.7;
    border-radius: 20px;
}

.button {
    width: 15vw;
    height: 10vh;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    font-weight: bold;
    background-color: rgb(46, 134, 193);
    color: white;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.5);
}